body {
    background-color: #ffffff;
}

.intro-background {
    height: 600px;
    background-image: url('/assets/images/bg/bg2.jpg');
    background-position: center;
    background-size: cover;
}

.intro-content {
    text-align: center;
    color: white;
    padding-top: 220px;
}

.article {
    text-align: center;
    margin: 3rem 150px;
}

.cookie-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #696562;
    width: 60%;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
    box-shadow: 0 0 3px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100%;
    transition: 500ms;
}

.cookie-box.active {
    bottom: 10px;
}

.cookie-box img {
    width: 50px;
    height: 50px;
}

.cookie-box p {
    margin: 0;
}

.cookie-box button {
    margin-left: 50px;
    width: 80px;
    height: 40px;
    background-color: #95defb;
    border: 0;
    border-radius: 5px;
}