<style>
  .alert-box {
    z-index: 99;
    background-color: red;
    width: 300px;
    margin: 10px auto;
    border-radius: 10px;
  }

  .banner {
    width: 300px;
  }

  .close-box {
    width: 25px;
    height: 25px;
  }
</style>

<div class="alert-box">
  <img class="close-box" src="/assets/images/ic_close.svg" alt="" />
  <img class="banner" src="/assets/images/promotion_banner.jpg" alt="" />
  <div class="content">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse iure hic,
      perferendis eius ipsam incidunt tenetur at est, voluptatum praesentium
      voluptatem! Sint quasi nulla incidunt, facilis nostrum
      <a href="#">deleniti</a> voluptatem placeat.
    </p>
  </div>
</div>

<script></script>
