<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap"
  rel="stylesheet"
/>
<style>
  .footer-box {
    display: flex;
    background-color: dimgray;
    color: white;
    padding: 5px;
    box-shadow: 0 -1px 1px rgb(0, 0, 0);
  }

  .footer-box img {
  }

  .left-content {
    display: flex;
  }
</style>

<div class="footer-box">
  <div class="left-content">
    <img src="/assets/images/logo/logo.png" alt="" />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est sint quo
      consectetur earum, asperiores iure quod alias similique aperiam ullam
      magni necessitatibus explicabo quidem culpa amet voluptate obcaecati.
      Quia, accusantium?
    </p>
  </div>
  <div class="right-content">
    <p>Facebook</p>
    <p>Line</p>
    <p>Email</p>
  </div>
</div>
