<style>
  .nav-box {
    background-color: rgb(255, 0, 0);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111111;
  }
</style>

<div class="nav-box">
  <a href="/"><img src="/images/ic_logo_w2.png" alt="" /></a>
  <ul>
    <li><a href="/">Login</a></li>
    <li><a href="/blog">Note</a></li>
    <li><a href="/note">Blog</a></li>
    <li><a href="/login">Home</a></li>
  </ul>
</div>
