.wrapper {
    /* background-color: violet; */
    text-align: center;
    font-family: 'Sarabun', sans-serif;
}

.intro {
    height: 400px;
    background-image: url('/images/bg/bg2.jpg');
    background-position: center;
    background-size: cover;
}

.intro-content {
    color: white;
    padding: 20px;
}

.article {

}